.content {
  border: 0px solid blue;
  margin: 0 4.3rem;
  font-size: 1rem;
}

.contentContainer {
  border: 0px solid green;
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.messageContainer {
  border: 0px solid yellow;
}

.form {
  border: 0px solid blue;
  margin: 3rem;
  margin-top: 0;
  margin-bottom: 0;

  width: 30vw;

  border-radius: 1.25rem;
  background-color: rgba(255, 255, 255, 0.15);

  padding: 1.8rem 3rem 3rem 3rem;

  display: flex;
  flex-direction: column;
}

.titleForm {
  color: #FFF;
  font-family: Montserrat;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: 700;

  margin-bottom: 2.5rem;
}

.button {
  width: 100%;

  border-radius: 1.5rem;
  background: #FFF;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 1.8rem;

  height: 2.5rem;

  color: #1E1E1E;
  font-family: Montserrat;
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 600;

  text-decoration: none;

  border: 0px solid red;
}

.skullList{
  border: 0px solid red;
  display: flex;

  margin-left: 1.25rem;
}