
.contentContainer {
  border: 1px solid red;
  width: 40vw;
  
  color: #fff;

  padding: 50px;
  padding-top: 0px;
  padding-bottom: 20px;
}

.description {
  font-family: Montserrat;
  font-style: normal;
  border: 1px solid blue;

  font-size: 30px;
  font-weight: 400;
}

.quoteCitation {
  color: #FFF;
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;

  border: 1px solid blue;
  text-align: right;

  position: relative;
  top: -27px;
}