#all {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100vh;
    color: white;
}

a:link {
    color: white;
}

a:visited {
    color: gray;
}
  
#contentBox {
    display: flex;
    flex: 1;
}

#text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem;
    margin: auto 6.45rem;
    border-radius: 1.3rem;
    background-color: #ffffff26;
    font-family: "MontSerrat", sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.8rem;
    position: relative;
    bottom: 5%;
    text-align: justify;
}

#logo {
    display: flex;
    flex: 1.5;
    align-items: center;
    justify-content: center;
    position: relative;
    bottom: 5%;
    /* border: 1px solid red; */
    
}

;

#logo img:hover {
    animation: rotacao-infinita 30s linear infinite;
    /* transform: scale(1.2); */
    transition: transform 1s ease;
    height: 35rem;
}

#logo img {
    height: 35rem;
}

@keyframes rotacao-infinita {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }