.title{
    color: #FFF;
    font-family: Montserrat;
    font-size: 3.48rem;
    font-style: normal;
    font-weight: 900;
    line-height: 3.8rem; /* 147.833% */
}

.secondRow{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.author{
    color: #FFF;
    font-family: Montserrat;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4rem; /* 131.176% */
}

.descriptionText{
    color: #FFF;
    font-family: Montserrat, sans-serif;
    font-size: 1.03rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.5rem; /* 147.833% */
    width: 50.7rem;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0.5rem 11rem 9.3rem 11rem;
    border: 0px solid red;
    flex: 1;
}

.skullList{
    display: flex;
    border: 2px solid #ff0000;
}
.startButton{
    width: 303.169px;
    height: 42.152px;
    flex-shrink: 0;
    color: white;
    border: 0;
    border-radius: 29.076px;
    background: rgba(255, 255, 255, 0.22);
}