header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem;
    padding: 0;
}
.headerAction{
    display: flex;
    gap: 81px;
    align-items: center;
    margin: 0;
}
.quotes{
    color: #ffffffbf;
    font-family: Montserrat;
    font-size: 15.507px;
    font-style: normal;
    font-weight: 700;
    line-height: 6.461px; /* 41.667% */
}