
/* CSS */
@keyframes moveUp {
    0% {
        /* Posição inicial */
        transform: translateY(0); 
    }
    100% {
        transform: translateY(-2000px); 
        /* Posição final */
    }
}

/* Aplicando a animação ao POST */
#post {
    animation: moveUp 6s linear infinite; 
    /* Nome da animação, duração, tipo de temporização e repetição */
}

#post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 3rem;
    border-radius: 20px;
    background-color: #ffffff26;
    max-width: 37rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    color: white;
}

#post div {
    display: flex;
    align-items: center;
}

#post + #post {
    margin-top: 2rem;
}