* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color: cadetblue;
}

@media (max-width: 1920px) {
  html {
    font-size: 15.5px;
  }
}

@media (max-width: 1280px) {
  html {
    font-size: 10.5px;
  }
}