#resultRoom {
    display: flex;
    max-height: 100vh;
    color: white;
    margin-top: 1.5rem;
    font-family: "Montserrat", Helvetica;
    font-weight: 500;
}

#resultRoom aside {
    flex: 5.5;
    margin-left: 5rem;
    font-size: 18.75rem;
}

#resultRoom div {
    flex: 4.5;
}

.text1 {
    font-size: 3rem;
}

#text2 {
    font-size: 20rem;
    line-height: 15rem;
    font-weight: 800;
}

#text3 {
    font-size: 2rem;
    margin-top: 5.25rem;
    font-weight: 500;
}

#postsbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}